# Node.js dependencies
node_modules/

# Lock files
package-lock.json
yarn.lock

# Build directories
android/.idea/
android/.gradle/
android/build/
android/build/tmp/
android/build/kotlin/
android/build/outputs/
android/app/build/
dist/
build/
coverage/

# IDE and Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*~

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
publish-npm.sh


# Temporary files
tmp/
temp/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript declaration maps
*.d.ts.map

# Miscellaneous
*.bak
*.tmp
.npmrc

# NPM/Yarn debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local build configs
.eslintcache
capacitor.config.json
capacitor.config.ts

# Cache directories
.cache/
.parcel-cache/